.main {
  padding-top: 3rem;
}

.section {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.gray-background {
  background-color: var(--background);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 6rem;
}

.icon-container {
  font-size: 1.8rem;
  text-align: center;
  color: var(--primary-color);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--primary-font-color);
  margin-bottom: 2rem;
}

@media screen and (max-width: 1420px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 530px) {
  .section {
    padding-top: 0rem;
  }
  .cards {
    padding: 0 0.5rem;
  }
}
