:root {
  --primary-color: #37b24d;
  --primary-color-chade-1: #2c8e3e;
  --primary-color-chade-2: #216b2e;
  --primary-font-color: #343a40;
  --background: #f8f9fa;

  --font-family: 'Lato', sans-serif;
  --letter-space: 0.2rem;
  --border-radius: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

p {
  color: var(--primary-font-color);
}
